<button class="btn btn-lg btn-outline-primary" (click)="open()">Open My Modal</button>

<table class="table table-striped table-dark mt-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Address</th>
        <th scope="col">Contact Number</th>
        <th scope="col">DOB</th>
        <th ></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list; let i= index">
        <th scope="row">{{i+1}}</th>
        <td>{{item.stuName}}</td>
        <td>{{item.gender}}</td>
        <td>{{item.stuAddress}}</td>
        <td>{{item.stuContactNumber}}</td>
        <td>{{item.dateOfBirth}}</td>
        <td >
          <button class="btn btn-sm btn-success me-2"><i class="fa fa-pencil"></i></button>
          <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>